@import "tailwindcss";
@import "./magic-book-loader.css";
@import "./react-masonry.css";
@import "./react-tabs.css";
@import "./loader.css";
@import "./home-page.css";
@import "./3d-dice.css";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Background colors - dark base with warm undertones */
  --color-page: oklch(21% 0.034 264.665);
  --color-paper: oklch(21.6% 0.006 56.043);
  --color-paper-light: oklch(29.6% 0.006 56.043);
  --color-card: oklch(26.2% 0.033 256.848);
  --color-appbar: oklch(27.8% 0.033 256.848);

  /* Primary colors - your gold and orange palette */
  --color-primary: oklch(66.6% 0.179 58.318);
  --color-secondary: oklch(58.6% 0.253 17.585);
  --color-tertiary: oklch(0.35 0.08 75);
  
  --color-hover: #0000003F;
  --color-border: oklch(37.3% 0.034 259.733);
  
  /* Status colors - adjusted for dark theme */
  --color-info: oklch(58.8% 0.158 241.966);
  --color-success: oklch(72.3% 0.219 149.579);
  --color-warning: oklch(66.6% 0.179 58.318);
  --color-error: oklch(0.65 0.20 25); /* TODO: depricate */
  --color-danger: oklch(63.7% 0.237 25.331);
  
  /* Links */
  --color-link: oklch(0.80 0.16 80);
  
  /* Disabled state */
  --color-disabled: oklch(37.3% 0.034 259.733);
  
  /* Text colors */
  --color-text-primary: oklch(98.4% 0.003 247.858);
  --color-text-secondary: oklch(70.7% 0.022 261.325);
  --color-text-tertiary: oklch(55.6% 0.02 259.802);

  /* Rarity colors  */
  --color-rarity-common: oklch(44.2% 0.017 285.786); /* zinc-600 */
  --color-rarity-uncommon: oklch(62.7% 0.194 149.214); /* green-600 */
  --color-rarity-rare: oklch(54.6% 0.245 262.881); /* blue-600 */
  --color-rarity-very-rare: oklch(59.1% 0.293 322.896); /* fuchsia-600 */
  --color-rarity-epic: oklch(54.1% 0.281 293.009); /* violet-600 */
  --color-rarity-legendary: oklch(68.1% 0.162 75.834); /* yellow-600 */

  --color-text-rarity-common: oklch(70.5% 0.015 286.067); /* zinc-400 */
  --color-text-rarity-uncommon: oklch(79.2% 0.209 151.711); /* green-400 */
  --color-text-rarity-rare: oklch(70.7% 0.165 254.624); /* blue-400 */
  --color-text-rarity-very-rare: oklch(74% 0.238 322.16); /* fuchsia-400 */
  --color-text-rarity-epic: oklch(70.2% 0.183 293.541); /* violet-400 */
  --color-text-rarity-legendary: oklch(85.2% 0.199 91.936); /* yellow-400 */

  --color-stat-common-ingredients: oklch(45.7% 0.24 277.023);
  --color-stat-magic-ingredients: oklch(51.8% 0.253 323.949);
  --color-stat-recipes: oklch(50.8% 0.118 165.612);
}

:root {
  --background: var(--color-page);
  --foreground: var(--color-text-primary);
}

:focus-visible {
  outline: none;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.tooltip {
  &::before {
    @apply absolute;
    content: "";
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent var(--color-neutral-700) transparent;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%) rotate(180deg);
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}